<%= form_for @soiree, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :titre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :soundcloud_embed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :soundcloud_embed, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
<%= f.file_field :affiche %>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                soirees_path, :class => 'btn' %>
  </div>
<% end %>
