<h1>Listing soirees</h1>

<table>
  <tr>
    <th>Titre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @soirees.each do |soiree| %>
  <tr>
    <td><%= soiree.titre %></td>
    <td><%= link_to 'Show', soiree %></td>
    <td><%= link_to 'Edit', edit_soiree_path(soiree) %></td>
    <td><%= link_to 'Destroy', soiree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Soiree', new_soiree_path %>
